*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Lato", "Helvet", "Helvetica Neue",;
    
}
.pricing-table{
    background: #87789a;
    padding: 40px 0px;
}
.pricing-table .details{
    width: 90%;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 40px 20px;
}

.pricing-table .details h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.pricing-table .details p{
    font-size: 16px;
}

.pricing-table .grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 40px;
    padding: 20px;
}

.pricing-table .grid .box{
    width: 320px;
    border: 1px solid black;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 5px rgba(0,0,0,0,05);
}
.pricing-table .grid .box .title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #2000be;
}
.pricing-table .grid .box .price{
    margin-bottom: 20px;
}

.pricing-table .grid .box .price b{
display: block;
font-size: 40px;
margin-bottom: -5px;
}
.pricing-table .grid .box .features > *{
    color: #555;
    padding: 8px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.pricing-table .grid .box .button button{
    width: 100%;
    margin:25px 0px 0px;
    padding: 10px;
    background: linear-gradient(to bottom, #cd3ad5, #326073);
    color: #d9c2a6;
    border-radius: 5px;
    outline:none;
    border: none;
    font-weight:600;
    cursor:pointer;
}
.pricing-table .grid .box.Advanced{
    background: #b8a9ef;
}

@media (max-width:804px){
    .pricing-table .grid{
        gap:20px;
    }
    .pricing-table .grid .box .pro{
        transform: scale(i);
    }
}